{% extends 'student/base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../../css/studentstyle.css"/>

    <h1>Create new ProposedReferendum</h1>

    {{ include('proposed_referendum/_form.html.twig') }}

    <a href="{{ path('proposed_referendum_index') }}">back to list</a>
{% endblock %}
