{% extends 'admin/base.html.twig' %}

{% block title %}Edit {% endblock %}



{% block body %}
    <link rel="stylesheet" href="../../css/adminstyle.css"/>
    <link rel="ima" href="../../iamges/user.png"/>


    <h1>Edit Referendum</h1>

    {{ include('referendum/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('referendum_index') }}">back to list</a>

    {{ include('referendum/_delete_form.html.twig') }}
{% endblock %}
