body{
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #666666;
}

.active {
    background-color: red;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #666666;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #333333}

button:active {
    background-color: #999;
    color: #333333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input{
    height: 50px;
    background-color: #999;
    color: whitesmoke;
    font-size: 24px;


}

input:hover {background-color: #666}


